//////////////////////////////////////////// Common Classes ////////////////////////////////////////////

.disabled{
	opacity: 0.5;
	cursor: default !important;
	pointer-events: none;
}
.uppercase{
	text-transform: uppercase;
}
.h-loader{
	height: 3px;
	background: #1f1c4a;
	position: fixed;
	top: 0;
	left: 0;
	animation-name: hload;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	z-index: 99999;
	display: none;

	&.show{
		display: block;
	}
}

@-webkit-keyframes hload {
	0%   {width: 0%}
	100% {width: 100%}
}

@keyframes hload {
	0%   {width: 0%}
	100% {width: 100%}
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.center-absolute{
	position: absolute;
	left: 50%;
	top: calc(50% + 40px);
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.cursor-pointer{
	cursor: pointer;
}
.secondary-text{
	color: $secondary-color;
}
.small-text{
	font-size: 12px;
}
// .hide-color {
// 	display: none;
// }
.bold {
	font-weight: bold;
}
.border-none {
	border: none !important;
}
.float-right {
	float: right !important;
}
.float-left {
	float: left;
}
.table{
	display: table;
}
.table-cell{
	display:table-cell;
	vertical-align: middle;
}
.default-shadow{
	box-shadow: 1px 1px 5px rgba(86, 84, 86, 0.3);
	-webkit-box-shadow: 1px 1px 5px rgba(86, 84, 86, 0.3);
}
.sticky {
	background-color: rgba(255,255,255,0.93);
	opacity: 1;
	top: 0px !important;
	border-bottom: 1px solid rgba(187,187,187,0.35);
	box-shadow: 0px 1px 1px rgba(152,152,152,0.2);
}
.heading {
	font-size: $heading-font-size;
	color: $primary-color;
	font-weight: bold;
	padding: 0 0 1em 0;
}
.sub-heading {
	font-size: $sub-heading-font-size;
	color: $sub-heading-font-color;
	font-weight: bold;
}
.body-text {
	font-size: $body-font-size;
	color: $sub-heading-font-color;
	padding: 0 0 1em 0;
}
.button-font-size {
	font-size: $button-font-size;
	color: $body-font-color;
	padding: 0 0 1em 0;
}
.super-heading-font-size {
	font-size: $super-heading-font-size;
	color: $body-font-color;
	padding: 0 0 1em 0;
}
.relative-pos{
	position: relative;
}
.abs-pos{
	position: absolute;
}
.valign-absolute {
	@extend .abs-pos;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.valign-absolute-offset {
	@extend .abs-pos;
	top: 40%;
	transform: translateY(-10%);
	-webkit-transform: translateY(-10%);
	-ms-transform: translateY(-10%);
}
.halign-absolute {
	@extend .abs-pos;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

.center-absolute{
	@extend .abs-pos;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.padding-10{padding:10px;}
.padding-20{padding:20px;}
.padding-3em{padding: 3em 0;}
.m-t-5 {margin-top:5px;}
.m-b-5 {margin-bottom:5px;}
.m-t-10 {margin-top:10px;}
.m-b-10 {margin-bottom:10px;}
.m-t-20 {margin-top:20px;}
.m-b-20 {margin-bottom:20px;}

// color picker

$color-ui-panel: #f2f2f2;
$color-ui-panel-dark: #15191C;
$color-ui-panel-light: #2A3137;
$color-ui-border: #ffffff;
$color-input-bg: #15191C;
$color-swatch-border: #fff;
$color-text: #8B949A;
$spacer: 0.625em;
$map-height: 12.5em;
$input-height: 2.5em;
$swatch-width: 2em;
$swatch-space: 0.25em;
$swatches-width: (6*$swatch-width) + (5*$swatch-space);
$map-width: $swatches-width;
$eyedropper-width: $swatch-width*2 + $swatch-space;
$window-width:$swatches-width + $eyedropper-width + $spacer*3;
$spectrum-cursor-width: 1.875em;




.color-picker-panel{
	background:$color-ui-panel;
	width:$window-width;
	border-radius: 0.5em;
	border: 0.125em solid $color-ui-border;
	box-shadow: 0 0.25em 0.75em rgba(0,0,0,.4);
	position:absolute;
	top: 42px;
	left: -2px;
}

.panel-row{
	position:relative;
	margin:0 0.625em 0.625em;
	&:first-child{
		margin-top: 0.625em;
		margin-bottom: $spacer - $swatch-space;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.panel-header{
	background:$color-ui-panel-dark;
	padding: 0.5em;
	margin:0 -0.625em $spacer;
	text-align:center;
}

.swatch{
	font-size: 16px;
	display:inline-block;
	width:$swatch-width;
	height:$swatch-width;
	background:#ccc;
	border-radius: 0.25em;
	margin-left: 0.25em;
	margin-bottom: 0.25em;
	box-sizing:border-box;
	border: 0.125em solid $color-ui-border;
	cursor:pointer;
}

.default-swatches{
	width:$swatches-width;
	.swatch:nth-child(6n + 1){
		margin-left:0;
	}
}

.color-cursor{
	border-radius:100%;
	background:#ccc;
	box-sizing:border-box;
	position:absolute;
	pointer-events:none;
	z-index:2;
	border: 0.125em solid $color-swatch-border;
	transition: all .2s ease;

	&.dragging{
		transition:none;
	}

	&#spectrum-cursor{
		width:$spectrum-cursor-width;
		height:$spectrum-cursor-width;
		margin-left:- $spectrum-cursor-width/2;
		margin-top:- $spectrum-cursor-width/2;
		top:0;
		left:0;
	}

	&#hue-cursor{
		top:0;
		left:50%;
		height: 1.5em;
		width: 1.5em;
		margin-top: -0.75em;
		margin-left:-0.75em;
		pointer-events:none;
	}
}

.spectrum-map{
	position:relative;
	width:$map-width;
	height:$map-height;
	overflow:hidden;
}

#spectrum-canvas{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#ccc;
}

.hue-map{
	position:absolute;
	top:$spacer/2;
	bottom:$spacer/2;
	right:$eyedropper-width/2 - $spacer/2;
	width:$spacer;
}

#hue-canvas{
	border-radius: 0.5em;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	background:#ccc;
}

.button{
	background:$color-ui-panel-light;
	border:0;
	border-radius: 0.25em;
	color:$color-text;
	font-size:1rem;
	box-shadow:0 0.125em 0.25em rgba(0,0,0,.2);
	outline:none;
	cursor:pointer;
	padding: 0.25em;
	&:active{
		background:darken($color-ui-panel-light,2%);
	}

	&.eyedropper{
		position:absolute;
		right:0;
		top:0;
		width:$eyedropper-width;
		height:$eyedropper-width;
		display:block;
	}

	&.add-swatch{
		display:block;
		padding: 0.5em;
		width: 12.5em;
		margin: 0.75em auto 0;
	}

	&.mode-toggle{
		position:absolute;
		top:0;
		right:0;
		width:$eyedropper-width;
		height: $input-height;
	}
}

.value-fields{
	display:none;
	align-items:center;
	&.active{
		display:flex;
	}

	.field-label{
		margin-right: 0.375em;
	}

	.field-input{
		background: $color-input-bg;
		border: 0.1em solid $color-ui-border;
		box-sizing:border-box;
		border-radius: 0.125em;
		line-height:$input-height - 0.125em;
		padding:0 0.25em;
		text-align:center;
		color: $color-text;
		font-size: 1rem;
		display:block;
	}
}

.rgb-fields{
	.field-group{
		display:flex;
		align-items:center;
	}
	.field-input{
		width: 2.625em;
		margin-right:$spacer;
	}
}
.input-section-color {
	display: flex;
	align-items: center;
	.rgb-label {
		width: 1em;
	}
	.color-output-wrap {
		width: $input-height;
		min-width: $input-height;
		height: $input-height;
		min-height: $input-height;
		border: 0.125em solid $color-ui-border;
		overflow: hidden;
		border-radius: 0.3em;
		margin-left: 0.5em;
		background: white url("http://blackblock.net/public/images/Chess.svg");
	}
	.color-hex-input {
		display: block;
		background: $color-input-bg;
		border: 0.1em solid $color-ui-border;
		border-radius: 0.1em;
		height: $input-height;
		flex-grow: 1;
		width: 1em;
		text-align: center;
		color: $color-text;
		font-size: 1rem;
		display: block;
		margin: 0.1em 0.25em;
	}
	.color-number-input {
		background: $color-input-bg;
		border: 0.1em solid $color-ui-border;
		width: $input-height;
		border-radius: 0.1em;
		text-align: center;
		color: $color-text;
		font-size: 1rem;
		display: block;
		margin: 0.1em 0.25em;
	}
}
#color-hex-label {
	width: 3.5em;
}
#color-output-field {
	width: 100%;
	height: 100%;
	display: block;
	background: black;
}
.hex-field{
	display: flex;
}

.color-indicator{
	display:inline-block;
	vertical-align:middle;
	margin-right: 0.625em;
	width: 1.25em;
	height: 1.25em;
	border-radius: 0.25em;
	background:#ccc;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
*, *::before, *::after {
	box-sizing: border-box;
}

.clearfix{
	clear:both;
}
.hide{
	display: none;
}
.div-table{
	display: table;
	width: 100%;
	.div-table-cell{
		display: table-cell;
		vertical-align: middle;
	}
	.div-table-row{
		display: table-row;
	}
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.default-inline-container{
	& > div{
		display: inline-block;
		vertical-align: middle;
	}
}
.top-inline-container{
	& > div{
		display: inline-block;
		vertical-align: top;
	}
}
.bottom-inline-container{
	& > div{
		display: inline-block;
		vertical-align: bottom;
	}
}

.header-button-container{
	margin-top: 13px;
	.btn{
		margin-left: 10px;
	}
}
.m-r-10{
	margin-right: 10px;
}
.inline{
	display: inline-block;
	vertical-align: middle;
}

// UP Tab component
.up-tab-container{
	width: 100%;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #ddd;
	// box-shadow: 1px 1px 5px rgba(86, 84, 86, 0.3);
	// -webkit-box-shadow: 1px 1px 5px rgba(86, 84, 86, 0.3);
	position: relative;
	*{
		box-sizing: border-box;
	}
	.up-tab-headers{
		width: 200px;
		&:after{
			content: '';
			position: absolute;
			width: 1px;
			color: #ddd;
			height: 100%;
			top: 0;
		}
		.up-tab-header{
			height: 60px;
			line-height: 60px;
			overflow: hidden;
			text-overflow: ellipsis;
			transition: 0.2s;
			-webkit-transition: 0.2s;
			background: #fff;
			text-align: center;
			text-transform: uppercase;
			cursor: pointer;
			border-bottom: 1px solid #ddd;
			// border-top-left-radius: 4px;
			// border-top-right-radius: 4px;
			&.active{
				font-weight: bold;
			}
		}
	}
	.up-tab-contents{
		width: calc(100% - 200px);
		border-left: 1px solid #ddd;
		background-color: #fff;
		overflow: hidden;
		white-space:nowrap;

		.up-tab-content{
			width: 100%;
			transition: 180ms;
			-webkit-transition: 180ms;
		}
	}
}

// list component

.up-list-container{
	border-radius: 4px;
	border-width: 1px;
	border-color: #e2e2e2;
	border-style: solid;
	* {
		box-sizing: border-box;
	}
	.up-table-header{
		width: 100%;
		overflow: hidden;
	}
}
.up-table-container{
	max-height: calc(100vh - 250px);
	overflow: overflow;
	overflow-x: hidden;
}
table.up-table {
	width: 100%;
	background-color: #ffffff;
	color: #fff;
	border-collapse: collapse;
	td, th {
		border-width: 0px;
		border-color: #ffffff;
		border-style: solid;
		padding: 0px;
		text-transform: capitalize;
		text-align: center;
		& > div{
			padding: 8px 5px;
		}
	}
	th{
		& > div{
			font-weight: 500;
			padding: 12px 5px;
		}
		border-bottom: 1px solid #e2e2e2;
	}
	tbody tr{
		cursor: pointer;
		&:hover, &.active{
			background-color: #e2e2e2;
			color: #fff;
		}
		&:nth-child(even){
			background-color: #f2f2f2;
		}
	}
	td{
		color: #828282;
	}
	thead {
		background-color: #f6f7f8;
		background-image: -webkit-linear-gradient(#fff, #efefef);
		background-image: linear-gradient(#fff, #efefef);
		color: #828282;
		.sort-icons{
			margin-left: 3px;
			white-space: nowrap;
			img{
				width: 12px;
			}
		}
		.sortable-col{
			color: #4693d4;
			.up, .down{
				display: none;
			}
		}
		.sortable-col[order^="asc"]{
			.up, .both{
				display: none;
			}
			.down{
				margin-left: 0;
				display: inline-block;
			}
		}
		.sortable-col[order^="desc"]{
			.down, .both{
				display: none;
			}
			.up{
				margin-left: 0;
				display: inline-block;
			}
		}
	}
}
