@mixin global-transition {
	-webkit-transition: all .300s ease-in-out;
	-moz-transition: all .300s ease-in-out;
	-ms-transition: all .300s ease-in-out;
	-o-transition: all .300s ease-in-out;
	transition: all .300s ease-in-out;
}
@mixin vertical-center($height, $line-height) {
	height: $height;
	line-height: $line-height;
}

@mixin button($bg-color, $color, $border) {
	@include vertical-center(null, 30px);
	background-color: $bg-color;
	width: $button-width;
	font-size: $button-font-size;
	border-radius: $border-radius;
	border: $border;
	color: $color;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	cursor: pointer;
	touch-action: manipulation;
}
