
// $font-size variable
$super-heading-font-size: 2.5em;
$heading-font-size: 1.75em;
$sub-heading-font-size: 1.25em;
$body-font-size: 1em;
$button-font-size: 0.75em;

// font-color variable
$heading-font-color: #515151;
$sub-heading-font-color: #565656;
$body-font-color: #828282;
$border-color: #e2e2e2;
// primary/secondary color or bg color
$primary-color: #1f1c4a;
$secondary-color: #757474; //bg-color or border-color

// border-radius
$border-radius: 4px;

// button-variable
$button-width: 120px;
